// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';¿

.navbar-main{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.page-wrap {
    min-height: 100vh;
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.bg-images-step{
    width: 98%;
    height: 198px;
  }

  .lightbox-gallery {
    background-repeat: no-repeat;
    color: #000;
    overflow-x: hidden
}

.lightbox-gallery p {
    color: #000
}

.lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 8px;
    color: #000
}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

.lightbox-gallery .intro p {
    margin-bottom: 0
}

.lightbox-gallery .photos {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px
}

.button-container{
    display:inline-block;
    position:relative;
    }
    
    .button-container button{
    position: absolute;
    bottom:1em;
    right:6em;
    background-color:#0093dfb8;
    border-radius:1.5em;
    color:white;
    text-transform:uppercase;
    padding:0.3em 1.5em;
    }
    .activeSelect{
        background-color:#97ee0a !important;
    }

    body {
        font-size: .875rem;
      }
      
      .feather {
        width: 16px;
        height: 16px;
      }
      
      /*
       * Sidebar
       */
      
      .sidebar {
        position: fixed;
        top: 0;
        /* rtl:raw:
        right: 0;
        */
        bottom: 0;
        /* rtl:remove */
        left: 0;
        z-index: 100; /* Behind the navbar */
        padding: 48px 0 0; /* Height of navbar */
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      }
      
      @media (max-width: 767.98px) {
        .sidebar {
          top: 5rem;
        }
      }
      
      .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      }
      
      .sidebar .nav-link {
        font-weight: 500;
        color: #333;
      }
      
      .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #727272;
      }
      
      .sidebar .nav-link.active {
        color: #2470dc;
      }
      
      .sidebar .nav-link:hover .feather,
      .sidebar .nav-link.active .feather {
        color: inherit;
      }
      
      .sidebar-heading {
        font-size: .75rem;
      }
      
      /*
       * Navbar
       */
      
      .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgba(0, 0, 0, .25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
      }
      
      .navbar .navbar-toggler {
        top: .25rem;
        right: 1rem;
      }
      
      .navbar .form-control {
        padding: .75rem 1rem;
      }
      
      .form-control-dark {
        color: #fff;
        background-color: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);
      }
      
      .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
      }

      
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    

     // <!-------assessment--->
    
    .timeline {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative
    }
    
    .timeline:before {
        content: '';
        position: absolute;
        top: 5px;
        bottom: 5px;
        width: 5px;
        background: #2d353c;
        left: 20%;
        margin-left: -2.5px
    }
    
    .timeline>li {
        position: relative;
        min-height: 50px;
        padding: 20px 0
    }
    
    .timeline .timeline-time {
        position: absolute;
        left: 0;
        width: 18%;
        text-align: right;
        top: 30px
    }
    
    .timeline .timeline-time .date,
    .timeline .timeline-time .time {
        display: block;
        font-weight: 600
    }
    
    .timeline .timeline-time .date {
        line-height: 16px;
        font-size: 12px
    }
    
    .timeline .timeline-time .time {
        line-height: 24px;
        font-size: 20px;
        color: #242a30
    }
    
    .timeline .timeline-icon {
        left: 15%;
        position: absolute;
        width: 10%;
        text-align: center;
        top: 40px
    }
    
    .timeline .timeline-icon a {
        text-decoration: none;
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 20px;
        background: #d9e0e7;
        line-height: 10px;
        color: #fff;
        font-size: 14px;
        border: 5px solid #2d353c;
        transition: border-color .2s linear
    }
    
    .timeline .timeline-body {
        margin-left: 23%;
        margin-right: 17%;
        background: #bbd9cb;
        position: relative;
        padding: 20px 25px;
        border-radius: 6px
    }
    
    .timeline .timeline-body:before {
        content: '';
        display: block;
        position: absolute;
        border: 10px solid transparent;
        border-right-color: #fff;
        left: -20px;
        top: 20px
    }
    
    .timeline .timeline-body>div+div {
        margin-top: 15px
    }
    
    .timeline .timeline-body>div+div:last-child {
        margin-bottom: -20px;
        padding-bottom: 20px;
        border-radius: 0 0 6px 6px
    }
    
    .timeline-header {
        padding-bottom: 10px;
        border-bottom: 1px solid #e2e7eb;
        line-height: 30px
    }
    
    .timeline-header .userimage {
        float: left;
        width: 34px;
        height: 34px;
        border-radius: 40px;
        overflow: hidden;
        margin: -2px 10px -2px 0
    }
    
    .timeline-header .username {
        font-size: 16px;
        font-weight: 600
    }
    
    .timeline-header .username,
    .timeline-header .username a {
        color: #2d353c
    }
    
    .timeline img {
        max-width: 100%;
        display: block
    }
    
    .timeline-content {
        letter-spacing: .25px;
        line-height: 18px;
        font-size: 13px
    }
    
    .timeline-content:after,
    .timeline-content:before {
        content: '';
        display: table;
        clear: both
    }
    
    .timeline-title {
        margin-top: 0
    }
    
    .timeline-footer {
        background: #fff;
        border-top: 1px solid #e2e7ec;
        padding-top: 15px
    }
    
    .timeline-footer a:not(.btn) {
        color: #575d63
    }
    
    .timeline-footer a:not(.btn):focus,
    .timeline-footer a:not(.btn):hover {
        color: #2d353c
    }
    
    .timeline-likes {
        color: #6d767f;
        font-weight: 600;
        font-size: 12px
    }
    
    .timeline-likes .stats-right {
        float: right
    }
    
    .timeline-likes .stats-total {
        display: inline-block;
        line-height: 20px
    }
    
    .timeline-likes .stats-icon {
        float: left;
        margin-right: 5px;
        font-size: 9px
    }
    
    .timeline-likes .stats-icon+.stats-icon {
        margin-left: -2px
    }
    
    .timeline-likes .stats-text {
        line-height: 20px
    }
    
    .timeline-likes .stats-text+.stats-text {
        margin-left: 15px
    }
    
    .timeline-comment-box {
        background: #bbd9cb;
        margin-left: -25px;
        margin-right: -25px;
        padding: 20px 25px
    }
    
    .timeline-comment-box .user {
        float: left;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 30px
    }
    
    .timeline-comment-box .user img {
        max-width: 100%;
        max-height: 100%
    }
    
    .timeline-comment-box .user+.input {
        margin-left: 44px
    }
    
    .lead {
        margin-bottom: 20px;
        font-size: 21px;
        font-weight: 300;
        line-height: 1.4;
    }
    
    .text-danger, .text-red {
        color: #ff5b57!important;
    }

/*Seleccion de imagenes valoracion*/
  
  .row-images {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial;
  }
  
  .row-images {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column-images {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    
    border: 2px solid #e9ecef;
    border-radius: 7px;
  }
  
  .column-images img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    padding: 10px;
	height: 328px;
	
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column-images {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column-images {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .button-container .btn {
    display: flex;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -6%);
    -ms-transform: translate(-50%, -50%);
    background-color: #198be5a1;
    color: white;
    font-size: 16px;
    padding:0px 105px 19px 7px;
    border: blanchedalmond;
    cursor: pointer;
    text-align: center;
    height: 8%;
  }

  /*modal de seleccion imagenes*/

  
  .modal-images {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    position: absolute;
    top: 52%;
    left: 51%;
    transform: translate(-50%, -6%);
    height: 8%;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close-image {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close-image:hover,
  .close-image:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
/**trasnciciones global*/
  .view-leave-active {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease;
}

.view-enter-active {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease;
    transition-delay: 0.5s;
}

.view-enter, .view-leave-to {
    opacity: 0;
}

.view-enter-to, .view-leave {
    opacity: 1;
}

/**seleccion de imagenes y preguntas**/
.gallery-questions-select {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 322px;
}

.gallery-questions-select:hover {
  border: 1px solid #777;
}

.gallery-questions-select img {
  width: 100%;
  height: auto;
}

.desc-questions-select {
  padding: 15px;
  text-align: center;
}
/**Seleccion de imagenes admin**/
.container-select-image {
  display: grid;
  grid-gap: 10px;
  padding: 3px;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 29.5rem;
  font-size: 0.7875rem;
  border-radius: 0.2rem;
}
.button-select-image{
  background-color: #4CAF50; 
  border-color: powderblue;
  color: aliceblue;
  border-radius: 4px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 100%;
}

/**carga pre imagen**/
.loading-pre-images{
  text-align: center;
}
.img-pre{
  height: 85%;
  width: 30%;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;  
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #504d5e;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.video-fullscreen {
  cursor:pointer;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}